@{
    ViewData["Title"] = "ASP Project";
}

<div class="text-center">
    <h1 class="display-4">My first (TEST) ASP.NET core project</h1>
</div>
<div class="col-md-12 mb-4">
    <div class="card">
        <img src="Images/Image-open.jpg" class="card-img-top" alt="we're open'" />
        <div class="card-body" style="text-align: center">Мы открылись</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="Images/Image-sneakers1.jpg" class="card-img-top" alt="Image-sneakers" />
            <div class="card-body" style="text-align: center">Стиль и комфорт в каждом шаге</div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="Images/Image-sneakers2.jpg" class="card-img-top" alt="Image-sneakers" />
            <div class="card-body" style="text-align: center">Современный дизайн и надёжные материалы</div>
        </div>
    </div>
</div>